[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
autopep8 = "*"

[packages]
telethon = "*"
requests = "*"
selenium = "*"
pandas = "*"
tqdm = "*"
binance-futures-connector= "*"
python-binance= "*"

[requires]
python_version = "3.10"
